:root {
  --primary-dark: hsl(158, 36%, 37%);
  --primary-light: hsl(30, 38%, 92%);

  --neutral-very-dark: hsl(212, 21%, 14%);
  --neutral-dark: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  --ff-accent: "Fraunces", serif;
  --ff-base: "Montserrat", sans-serif;

  --font-size: 14px;
  --font-regular: 500;
  --font-bold: 700;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--primary-light);
  margin: 1rem;
  font-weight: var(--font-regular);
  font-family: var(--ff-base);
  place-content: center;
  display: grid;
}

picture,
img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  background-color: var(--white);
  border-radius: 0.75rem;
  overflow: hidden;
  max-width: 600px;
}

.content {
  padding: 1.5rem;
  display: grid;
  gap: 1rem;
}

.category {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 0.815rem;
  color: var(--neutral-dark);
}

h1 {
  font-family: var(--ff-accent);
  font-weight: var(--font-bold);
  font-size: 2.25rem;
  color: var(--neutral-very-dark);
  line-height: 1;
}

.desc {
  color: var(--neutral-dark);
  line-height: 1.45;
}

.price {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.current {
  color: var(--primary-dark);
  font-weight: var(--font-bold);
  font-size: 2.5rem;
  font-family: var(--ff-accent);
}

.discount {
  color: var(--neutral-dark);
}

.button {
  height: 3rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  background-color: var(--primary-dark);
  font-weight: var(--font-bold);
  font-size: 0.925rem;
  cursor: pointer;
  font-family: var(--ff-base);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.button[data-icon="shopping-cart"]::before {
  content: "";
  background-image: url(/product-preview-card-component-main/product-preview-card-component-main/images/icon-cart.svg);
  width: 15px;
  height: 16px;
}

.button:is(:hover, :focus) {
  background-color: hsl(158, 36%, 27%);
}

@media (min-width: 600px) {
  .container {
    display: flex;
  }
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
